# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database (Exclude local SQLite databases)
*.sqlite3

# Django REST Framework / Django specific
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and Static files
media/
staticfiles/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Build and Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm / VS Code / IDEs
.idea/
.vscode/
*.swp
*.swo
